.logo {
    width: 200px;
    height: 60px;
    margin-right: 30px;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    object-fit: cover;
}

.recipe-button {
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(251 240 245);
    color: rgb(228 149 176);
}

.search-icon {
    margin-right: -38px;
    z-index: 1;
}

.search-bar {
    background-color: rgb(243 244 246);
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 14px;
    margin-right: 20px;
    margin-left: 10px;
}

.footer {
    background-color: rgb(29 34 40);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer ul  {
    list-style-type: none;
}

.footer ul li:first-child  {
    font-weight: 500;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.footer button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(244 75 134);
    margin-left: 20px;
}